# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
local_settings.py
*.sqlite3
db.sqlite3
media/
staticfiles/

# Секреты и окружение
.env
.env.local
.env.*.local
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo
